numpy==1.24.1
pandas==2.0.3
scikit-learn==1.5.2
scipy==1.14.1
torch==2.5.1+cu124
torch-cluster==1.6.3
torch-geometric==2.6.1
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-spline-conv==1.2.2
torchaudio==2.5.1
torchvision==0.20.1+cu124